<%- include("../partials/header") %>

    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, repellat. Labore vitae iusto sunt cum placeat consequatur deserunt error fugit perspiciatis! Totam labore vero magni minima iusto, commodi odio recusandae!</p>

<%- include("../partials/script") %>